<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sewa Mobil & Tour Guide di Bali</title>
    <meta name="description" content="Layanan sewa mobil dan tour guide terpercaya di Bali. Booking mudah, harga terjangkau!" />
</head>
<body style="margin: 0 !important;">
    <slot />
</body>
</html>